// Starting from the top, leave the same number of lines as months you want to remove.
// For example, if you wanted to remove the last 3 months of history, you would leave the first 3 lines and delete lines 4-8.

// Do the changes described above and then paste the following into your Custom CSS section.

.months-container .month:nth-last-child(1) { display:none; }
.months-container .month:nth-last-child(2) { display:none; }
.months-container .month:nth-last-child(3) { display:none; }
.months-container .month:nth-last-child(4) { display:none; }
.months-container .month:nth-last-child(5) { display:none; }
.months-container .month:nth-last-child(6) { display:none; }
.months-container .month:nth-last-child(7) { display:none; }
.months-container .month:nth-last-child(8) { display:none; }